<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>Добро пожаловать!</h2>

<p>Дополнил обработку заказов из корзины и админку в которой можно просмотреть заказы всех пользователей</p>
<p>Для админа (логин/пароль): admin / 123</p>
<p>Для обычного юзера (логин/пароль): bob / 444</p>
<p>При авторизации админа, в меню появляется ссылка на админку и меняется цвет менюшки )))</p>
<p>Еще сделал добавление товара в корзину с указанием количества и удаление его с уменьшением</p>
<p>Кнопка оформить заказ появляется, только после добавления товара в корзину</p>
</body>
</html>
