<h2>Оформление заказа</h2>

<form action="/order/check/" method="post">
    <input type="text" name="firstName" placeholder="Имя"><br><br>
    <input type="text" name="lastName" placeholder="Фамилия"><br><br>
    <input type="text" name="address" placeholder="Адрес доставки"><br><br>
    <input type="text" name="tel" placeholder="Контактный телефон"><br><br>
    <input type="submit" name="submit" value="Далее"><br>
</form>