/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.menu {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #c69500;
}

.menu_admin {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #dc3545;
}

.content {
    margin: 50px;
}

.product_box {
    display: flex;
    justify-content: left;
    padding: 30px;
}

.product_card {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;

}

.basket_box {
    display: flex;
    flex-direction: column;
}

.product_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 700px;
    height: 20px;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 700px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}